[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/kano-world-launcher
Icon=/usr/share/kano-desktop/icons/kano-world-launcher.png
Terminal=false
Name=Kano World
Comment= Join the world of Kano
Categories=Application;Network;Kano;
MimeType=application/x-kano-extras
