[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shutdown
Comment=Shutdown your Kano kit
Icon=/usr/share/lxde/images/shutdown.png
Exec=/usr/sbin/kano-shutdown.sh
NoDisplay=true