#
#  boot-splash-start.service
#
#  Starts kano-splash bootup window when "kano-os-loader"
#  starts, and stops it again when graphical or multiuser  targets starts
#


[Unit]
Description=Start Kano Splash Boot animation
DefaultDependencies=no
After=kano-os-loader.service

[Service]
StandardOutput=journal
Restart=no
RemainAfterExit=yes
ExecStart=/usr/bin/kano-boot-splash
TimeoutSec=0

[Install]
WantedBy=kano-os-loader.service
