# enable-power-button.service
#
# Copyright (C) 2017 Kano Computing Ltd.
# License: http://www.gnu.org/licenses/gpl-2.0.txt GNU GPL v2
#
# Unit file to enable any power button that may be connected
# via a Kano hat.
#
# There is a startup delay to coordinate with the Dashboard.
# Make sure to start with this command:
#
#  $ systemctl --user start enable-power-button &
#
# Subsequent "start" commands will return immediately.
#

[Unit]
Description=Enable Power Button
BindsTo=kano-boards.service
After=kano-boards.service
IgnoreOnIsolate=true
DefaultDependencies=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/enable-power-button
