#
# kano-desktop-vnc.service
#

[Unit]
Description=Kano Desktop VNC daemon
BindsTo=kano-desktop.service

[Service]
ExecStart=/usr/share/kano-vnc/startvnc
Type=forking

[Install]
WantedBy=kano-desktop.service
