#
# kano-common-speakerleds
#

[Unit]
Description=Kano Speaker LEDs daemon
IgnoreOnIsolate=true

[Service]
ExecStart=/bin/sh -c "/usr/bin/kano-speakerleds cpu-monitor start --check"
