#
# kano-common-notifications
#
#

[Unit]
Description=Kano user notifications daemon
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/kano-notifications-daemon
