#
# kano-desktop.service
#
# Starts the Desktop systemd service
#
# The "Requires" clause makes a the lxpanel start along with it,
# which allows for grouping several services from this one.
#
# Forcibly closing scratch on termination, because it is sudoed
# and is misteriously started outside systemd cgroup.
#

[Unit]
Description=Kano Desktop Icons
Requires=kano-desktop-lxpanel.service kano-desktop-uixinit.service
AllowIsolate=yes
Conflicts=kano-dashboard.service

[Service]
ExecStartPre=/usr/bin/kdesk-hourglass-app "lxpanel"
ExecStart=/usr/bin/kdesk
ExecStop=/usr/bin/sudo /usr/bin/pkill -f scratch
