#
# kano-common.service
#
# Common keep-alive services until logoff or shutdown
#

[Unit]
Description=Kano Common User Services
IgnoreOnIsolate=true
Requires=kano-common-tracker.service kano-common-notifications.service \
 kano-common-speakerleds.service kano-common-boards.service \
 kano-common-keyboard.service
