#
# kano-desktop-notifications
#
#

[Unit]
Description=Kano user notifications daemon
BindsTo=kano-desktop.service

[Service]
ExecStart=/usr/bin/kano-notifications-daemon

[Install]
WantedBy=kano-desktop.service
