#
# kano-common-notifications
#
# Daemon to provide system wide notifications using QML
#

[Unit]
Description=Kano user notifications daemon
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/kano-notifications -d -v
