Source: kano-desktop
Maintainer: Team Kano <dev@kano.me>
Section: x11
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: kano-desktop
Architecture: all
Depends: ${misc:Depends}, openbox (>=3.5.2-4~kano.1),
         kdesk (>=1.3-1), chromium, kano-themes, lxmenu-data (>=0.1.2-3~kano),
         kano-video-files, kano-init-flow (>=1.2.2-1), kano-profile (>=1.3-8),
         libkdesk-dev, kano-greeter, kano-updater (>=1.3.4-1)
Replaces: kano-settings (<< 1.1-1.20140512build2), kano-feedback (<< 1.1-3)
Breaks: kano-settings (<< 1.1-1.20140512build2), kano-feedback (<< 1.1-3)
Description: The desktop experience of Kanux
 This package contains a variety of configuration files and resources that
 make up the whole KANO desktop experience on top of LXDE.
