Source: kano-desktop
Maintainer: Team Kano <dev@kano.me>
Section: x11
Priority: optional
Standards-Version: 3.9.4
Build-Depends: libx11-dev, libxft-dev, libstartup-notification0-dev, debhelper (>=9.0.0)

Package: kano-desktop
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, openbox (>=3.5.2-4~kano.1),
         idesk (>=0.7.7-1~kano.2), chromium
Description: The desktop experience of Kanux
 This package contains a variety of configuration files and resources that
 make up the whole KANO desktop experience on top of LXDE.
