#
# kano-common-tracker
#

[Unit]
Description=Kano Tracker Watcher daemon
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/kano-tracker-ctl refresh --watch
