#
# kano-desktop-uixinit.service
#
# Starts the Desktop UIX Init service
#
# The "BindsTo" clause makes a behaviour dependency with the main service.
# It is started and stopped along with the Desktop unit.
#
# FIXME: For now it's still under early testing
#

[Unit]
Description=Kano Desktop setup script
BindsTo=kano-desktop.service
Requires=kano-desktop-feedback-widget.service kano-desktop-mount-trigger.service \
 kano-desktop-vnc.service

[Service]
ExecStart=/usr/bin/kano-uixinit-systemd

[Install]
WantedBy=kano-desktop.service
