#
# kano-common-track-space.service
#

[Unit]
Description=Kano SD card space tracking
BindsTo=kano-desktop.service
Requires=kano-common-tracker.service

[Service]
ExecStart=/usr/bin/kano-track-space

