! .Xresources
! 
! Copyright (C) 2014 Kano Computing Ltd.
! License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2
!
! Custom config for rxvt terminal

URxvt.depth: 32
URxvt.iconFile: /usr/share/kano-desktop/icons/terminal.png
URxvt.borderColor: #333333

URxvt.background: #333333
URxvt.foreground: #f0f0f0
URxvt.highlightColor: #ffc05c
URxvt.highlightTextColor: #674713

URxvt.cursorColor: #655438
URxvt.cursorBlink: True

URxvt.scrollstyle: xterm
URxvt.scrollBar_right: True
URxvt.scrollColor: Dark Gray
URxvt.thickness: 12

URxvt.font:xft:Freemono:pixelsize:14:style=bold

! ----------------------------------------------------------------------------- !