# rules for kano-mount-trigger

# send USR1 to kano-mount-trigger when a disk is present. Don't sent it for subvolumes
# as pcmanfm checks for them itself

KERNEL=="sd?", SUBSYSTEMS=="usb",	ACTION=="add",	RUN+="/usr/bin/killall -USR1 kano-mount-trigger"
